# Ada-Boost Classification

<b>Boosting Ensemble Method</b>
Boosting is a general ensemble method that creates a strong classifier from a number of weak classifiers.

This is done by building a model from the training data, then creating a second model that attempts to correct the errors from the first model. Models are added until the training set is predicted perfectly or a maximum number of models are added.

<b>AdaBoost</b> is an ensemble learning method (also known as “meta-learning”) which was initially created to increase the efficiency of binary classifiers. AdaBoost uses an iterative approach to learn from the mistakes of weak classifiers, and turn them into strong ones.

In [1]:
pwd

'C:\\Users\\User\\Git-Hup Files\\Machine Learning Classification'

In [2]:
cd C:\Users\User\Desktop\Anindita Mitra\Machine Learning\Email Marketing

C:\Users\User\Desktop\Anindita Mitra\Machine Learning\Email Marketing

In [3]:
#Import all the library
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split

In [4]:
# import Data set from the local directory
df = pd.read_csv("EmailClassification.csv")

In [5]:
df.head(10)

            Email_ID Month  Email_Sent  Open_Rate  Click_Rate  Conversion_Rate
0  EMA00081000168000   Jan         873         42          14                0
1  EMA00081000187610   Feb         630         32          26                1
2  EMA00081000244770   Mar         988         21           8                0
3  EMA00081000245260   Apr         339         25           9                0
4  EMA00081000264690   May        1157         30          31                1
5  EMA00081000337110   Jun        1157         25          31                1
6  EMA00081000390580   Jul         962         78          27                0
7  EMA00081000445960   Jan         578         17          11                0
8  EMA00081000581770   Feb        1173         33          21                1
9  EMA00081000587870   Mar        1173         23           2                0

In [6]:
#defining X and Y
x = df.iloc[:,2:-1]
y= df.iloc[:, -1]

In [7]:
x.head(10)

   Email_Sent  Open_Rate  Click_Rate
0         873         42          14
1         630         32          26
2         988         21           8
3         339         25           9
4        1157         30          31
5        1157         25          31
6         962         78          27
7         578         17          11
8        1173         33          21
9        1173         23           2

In [8]:
y.head(10)

0    0
1    1
2    0
3    0
4    1
5    1
6    0
7    0
8    1
9    0
Name: Conversion_Rate, dtype: int64

In [9]:
# Splitting data into training and test set
x_train, x_test, y_train, y_test = train_test_split (x , y, test_size=0.2, random_state=0)

In [10]:
# Traning with Ada-Boost
from sklearn.ensemble import AdaBoostClassifier

In [11]:
# Create object
#n_estimator = 100 means no of models we want to run
#learning_rate=1 what is the weight we need to assign
AdaModel = AdaBoostClassifier(n_estimators=100, learning_rate=1)

In [12]:
#Train Adaboost Classifier
AdaModel.fit(x_train, y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1,
                   n_estimators=100, random_state=None)

In [13]:
#predict
y_pred = AdaModel.predict(x_test)

In [14]:
#Accuracy
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.825